<template>
   <div id="control-panel">
        <div id="format-actions">
            <button 
              v-for="command in commands"
              v-on:click="makeAction(command.name)"
              v-bind:style="command.styleObj"
              type="button"
            >{{ command.label }}</button>
            <button
              v-on:click="changeModalMode()"
            >get synonym</button>
          
            
        </div>
    </div>
</template>

<script>
export default {
  name: "ControlPanel",
  data(){
    return(
      {
        commands: [
          { name: 'bold', label: 'B', styleObj: {fontWeight: 900} },
          { name: 'italic', label: 'I', styleObj: {fontStyle: 'italic'} }, 
          { name: 'underline', label: 'U', styleObj: {textDecoration: 'underline'} }
        ],
        
      }  
    );
  },
  methods: {
    makeAction: function(commandName){
      document.designMode = "on";
      document.execCommand(commandName, false, null);
      document.designMode = "off";
    },
    changeModalMode: function(event){
      const word = window.getSelection().toString().trim().split(' ')[0];
      console.log(word);
      if(!!word){
        this.makeAction('copy');
        this.$emit('changeModalMode', word);
      }
      else{
        alert("choose word");
      }
    }
  }
};
</script>
<style scoped>
    #control-panel {
        background-color: #fff;
        height: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 5px;
    }
    #format-actions {
        width: 200px;
        margin-right: 400px;
    }
    
</style>
