<template>
   <div id="editor-wrap">
        <div id="editor" contentEditable>
            {{ editableText }}
        </div>
    </div>
</template>

<script>
import getText from '../text.service.js';

export default {
  name: "EditorText",
  data(){
     return ({
         editableText: getText()
     }); 
  }
  
};
</script>

<style scoped>
    #editor-wrap {
    background-color:#f1f0f0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

    #editor {
        width: 600px;
        flex-grow: 1;
        background-color: #fff;
        border: 1px solid #e4dede;
    }
</style>
