<template>
   <div id="modal-body">
      <p v-if="!dataExists">
        Please wait ...
      </p>
      
      <ul v-if="dataExists">Synonyms:
        <li 
          v-for="item in synonyms"
          class="list-item"
        >
          {{ item.word}}
          <button 
            v-on:click="callReplceWord(item.word)"
            class="button-rounded use-button"
          >use this word</button>
        </li>
      </ul>
      
      <div class="modal-actions-wrap">
        <button 
          v-on:click="changeModalMode()"
          class="button-rounded actions-button"
        >Close</button>
      </div>
    </div>
</template>

<script>

export default {
  props: {
    word: {
      type: String,
      required: true
    }
  },
  
  name: "ModalBody",
  
  mounted: function(){
    this.$http.get(`https://api.datamuse.com/words?ml=${this.word}&max=4`).then(response => {
      this.synonyms = response.body;
      this.dataExists = true;
  
    }, error => {
      alert("can't get data, sorry");
    });
  },
  
  data(){
     return ({
      dataExists: false,
      synonyms: []
     }); 
  },
  
  methods:{
    changeModalMode: function(event){
      this.$emit('changeModalMode');
    },
    
    callReplceWord: function(word){
      this.$emit('callReplceWord', word);
      this.$emit('changeModalMode');
    }
  }
};
</script>

<style scoped>
  #modal-body {
    margin: 0 auto;
    margin-top: 100px;
    width: 300px;
    min-height: 300px;
    background-color: #fff;
    padding: 15px;
  }
  
  #modal-body .button-rounded {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
  }
  
  #modal-body .use-button {
    color: #5E95F7;
  }
  
  #modal-body .list-item {
    margin: 5px;
  }
  
  #modal-body .modal-actions-wrap {
    margin-top: 10px;
    text-align: center;
  }
  
  #modal-body .actions-button {
    padding: 5px 10px;
  }
</style>
