<template>
  <div id="app">
    <Header/>
    <main>
      <ControlPanel 
        v-on:changeModalMode="toggleModal($event)"
      />
      <EditorText/>
    </main>
    
    <div 
      id="modal"
      v-if="mode === 'showModal'"
    >
      <ModalBody 
        v-on:changeModalMode="toggleModal($event)" 
        v-on:callReplceWord="replceWord($event)" 
        v-bind:word="word"
      />
    </div>
  </div>
</template>

<script>
import ControlPanel from './components/ControlPanel';
import EditorText from './components/EditorText';
import Header from './components/Header';
import ModalBody from './components/ModalBody';

export default {
  name: 'App',
  components: {
    Header,
    ControlPanel,
    EditorText,
    ModalBody
  },
  data(){
    return({
      mode: 'hideModal',
      word: null
    });
    
  },
  methods: {
    toggleModal: function(word){
      if(this.mode === 'hideModal'){
        this.word=word;
        this.mode = 'showModal';
      }
      else{
        this.mode = 'hideModal';
      }
    },
    replceWord(word=null){
      if(!word){return;}
      document.designMode = "on";
      document.execCommand('insertText', false, word);
      document.designMode = "off";
    }
  }
};
</script>

<style>
  #app {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  #modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(225,220,220,0.5);
  }
</style>
